*{
  font-family: Tahoma;
}
.header{
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  flex-direction: row;
  background-color: burlywood;
  border-bottom: 0.5px solid rgb(114, 65, 65);
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}
.left-section{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 25px;
}
.company-logo{
  width: 80px;
  height: 80px;
  border: 0.5px solid rgb(114, 65, 65);
  border-radius: 50px;
}
.company-name{
  font-family: Tahoma;
  color: rgb(114, 65, 65);
  font-size: 50px;
  font-weight: bold;
  padding-left: 17px;
}
.center-section{
  display: flex;
  flex-direction: column;
  color: rgb(114, 65, 65);
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: Tahoma;
}
.center-section div{
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  padding-top: 7px;
}
.center-section p{
  font-size: 17px;
}
.right-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 40px;
  justify-content: flex-end;
  gap: 7px;
}
.right-section button{
  background-color: rgb(114, 65, 65);
  color: whitesmoke;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
}

.right-section a{
  text-decoration:none;
  color:#5f4034;
  font-weight:600;
  transition:.3s;
}

.right-section a:hover{
  color:#c28b44;
}

.home:hover,
.mencollection:hover,
.womencollection:hover,
.about:hover{
  opacity: 0.75;
  padding: 8px 16px;
}
.home:active,
.mencollection:active,
.womencollection:active,
.about:active{
  opacity: 0.5;
}

.footer{
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  flex-direction: row;
  background-color: burlywood;
  border-top: 0.5px solid rgb(114, 65, 65);
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.footer-section-text{
  font-family: Tahoma;
  color: rgb(114, 65, 65);
  font-size: 18px;
  padding-left: 17px;
}
.right-footer{
  margin-right: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.connect,
.customer-care{
  position: relative;
  display: inline-block;
}
.connect-img{
  width: 25px;
  height: 25px;
  border: 0.5px solid rgb(114, 65, 65);
  border-radius: 15px;
}
.customer-care-img{
  width: 25px;
  height: 25px;
  border: 0.5px solid rgb(114, 65, 65);
  border-radius: 15px;
}
.connect .tooltip ,
.customer-care .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  top: -30px;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.connect:hover .tooltip,
.customer-care:hover .tooltip{
  opacity: 1;
}



.main-body{
  display: flex;
  flex-direction: column;
  margin-top: 108px;
  margin-bottom: 55px;
}
.heading{
  background-color: #5f4034;
  color: whitesmoke;
  padding: 8px 20px;
  font-size: 40px;
  border-radius: 5px;
}
.cloth-section{
  margin-top: 8px;
  margin-left: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product{
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  border-radius: 5px;
  align-items: center;
  width: 300px;
  cursor: pointer;
  margin: 5px 8px;
}
.product:hover{
  opacity: 0.6;
  box-shadow: 0 0 0 3px rgba(211, 211, 211, 0.8);
  width: 312px;
}
.product img{
  height: 280px;
  width: 280px;
  object-fit: cover;
  margin:8px 5px;
}
.product-details{
  margin-left: 5px;
  margin-right: 5px;
}
.name{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 2px;
}
.description{
  font-size: 15px;
  padding-bottom: 3px;
}
.price{
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}

